body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #004e4d;
    padding: 0.5em;
    margin: 0.3em;
    font-weight: 0.5pt;
}

h2 {
    color: #004e4d;
    padding: 0.5em;
    margin: 0.3em;
}

p {
    color: #004e4d;
    padding: 0 0.5em;
    margin: 0 0.5em;
}

a {
    text-decoration: none;
}

input {
    text-align: center;
    font-size: 12pt;
    font-family: Arial, sans-serif;
}

#header-div {
    background-color: #fff;
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
}

#white-bar {
    width: 100vw;
    height: 6.5em;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#homepage-url {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
}

#title {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: auto;
}

#logo {
    height: 100%;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: right;
}

#logo-img {
    max-width: 70%;
    max-height: 70%;
}

#green-bar {
    width: 100vw;
    height: 3.5em;
    background-color: #004E4D;
}

#body-div {
    background-color: #fff;
    height: auto;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description-div {
    width: 66%;
    height: auto;
}

#lower-screen {
    display: flex;
    flex-direction: row;
    width: calc(100% - 4em);
    height: auto;
    margin: 2em;
}

#calculator {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#graph {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#plotly-graph {
    width: 100%;
    height: 90%;
}

.lower-header {
    width: calc(100% - 4em);
    height: auto;
    text-align: center;
    margin: 0 2em 2em 2em;
}

#table-div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#lot-size {
    height: 1.7em;
    padding: 0;
    border: none;
    background-color: #ffeee0;
}

#allotment-facotr {
    height: 1.7em;
    padding: 0;
    border: none;
    background-color: #f57f5b;
}

#water-usage {
    height: 1.7em;
    padding: 0;
    border: none;
    background-color: #ffeee0;
}

#est-bill {
    background-color: #75ff64;
}

.calc-row {
    width: 100%;
    min-height: 2em;
    height: auto;
    display: flex;
    flex-direction: row;
}

.cell-left {
    width: 50%;
}

.cell-right {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.cell-box {
    height: 1.5em;
    width: 40%;
    background-color: rgba(199, 199, 199, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-box {
    height: 1.5em;
    width: 1.5em;
    background-color: rgba(199, 199, 199, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 calc(40% - 1.5em);
}

  @media only screen and (max-width: 850px) {
    /* For mobile phones: */
    #main-container {
        width: 70vw !important;
    }
    #calculator {
        margin: 1em !important;
        width: calc(100% - 2em) !important;
    }
    .lower-header {
        margin: 1em !important;
        width: calc(100% - 2em) !important;
    }

    #lower-screen {
        flex-direction: column;
    }

    #graph {
        width: 100%;
    }

    .calc-row {
        flex-direction: column !important;
        align-items: center !important;
        margin-bottom: 1em !important;
    }

    .cell-left {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }
    
    .cell-right {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }

    .cell-box {
        width: 100% !important;
        text-align: center;
    }

    .check-box {
        margin: 0;
    }

  }